.box {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    padding: 10px;
    /* box-sizing: border-box; */
    border: solid 10px lightgreen;
    /* border-style: solid;
    border-color: lightgreen;
    border-width: 10px; */
}
.content {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}